examples/Dashboard Example.json
[
    {
        "id": "917ab87b497d3563",
        "type": "tab",
        "label": "RNet Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df9e74424c02de97",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "RNet-MQTT Bridge",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0bc2f17c7cbc5b89",
            "e288b92e64f85576",
            "53a2c6dae814f148",
            "097dd735258a2755",
            "5c703d6312e0c68a",
            "255d03ad6758f309"
        ],
        "x": 554,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "865961f16018682b",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 0",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "97e3142d227bc684",
            "33ec0af23bdd7860",
            "000063684cf5e049",
            "5cb6ff5693ef77b4",
            "dc2ee369d4d483c8",
            "e4479663dda63cd4",
            "24928d20a9f14417",
            "0cb3eb8ab067b372"
        ],
        "x": 64,
        "y": 259,
        "w": 782,
        "h": 262
    },
    {
        "id": "74afdd66142b0fea",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 1",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "0631db09e4bd9782",
            "404dcb8035ffbf15",
            "384ed982038ae5f2",
            "6c1630fb1f9b288f",
            "ab819a217b7e48c3",
            "8e6f4663a30195ca",
            "58ca45ac2441e1b4",
            "9d0ddb11fe2b24a0"
        ],
        "x": 64,
        "y": 539,
        "w": 782,
        "h": 262
    },
    {
        "id": "a76405a57cc994bc",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 2",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "a39b802a58802871",
            "5cb2b0e587512294",
            "db2623788559f739",
            "a27d4e8ab44fd148",
            "d423459ce0772161",
            "fb0911f564e30e1e",
            "087ee5ce99aadbb4",
            "25d20ec56341db11"
        ],
        "x": 64,
        "y": 819,
        "w": 782,
        "h": 262
    },
    {
        "id": "4539ed9e35d63af2",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 3",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "5ddd0fceeca823a1",
            "ee6a28e93ba132ce",
            "104589be06f85236",
            "23ddd693f6ce4f2b",
            "5fd12425a9474f6f",
            "7c540bf7c81554c5",
            "e0e784be5e98c2e3",
            "0ea1fb6be904c0c0"
        ],
        "x": 864,
        "y": 259,
        "w": 782,
        "h": 262
    },
    {
        "id": "f7cfa7ec084be3be",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 4",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "3a14fc6c8d803037",
            "4df4964105ee183c",
            "80e734107617274a",
            "a107deeec7ba3e01",
            "c0d14a0b753e198e",
            "77d1060f938da055",
            "e299b7308f17ebad",
            "d70bd99b689b5ae4"
        ],
        "x": 864,
        "y": 539,
        "w": 782,
        "h": 262
    },
    {
        "id": "d5f0bb8113d75ae5",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Zone 5",
        "style": {
            "stroke": "#000000",
            "fill": "#d1d1d1",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "8d161453497b30a5",
            "4ac803e90f7bab76",
            "d95e1f91e90ffb4b",
            "0a23e0f4a0ef4108",
            "af93e8b9a095e5ee",
            "0479f25652a6c5e1",
            "644605608294703f",
            "85271a3a097eb82b"
        ],
        "x": 864,
        "y": 819,
        "w": 782,
        "h": 262
    },
    {
        "id": "dc3384bf6ef8de4f",
        "type": "group",
        "z": "917ab87b497d3563",
        "name": "Global",
        "style": {
            "stroke": "#000000",
            "fill": "#c8e7a7",
            "fill-opacity": "0.56",
            "label": true
        },
        "nodes": [
            "93e7be47d8d6cd6f",
            "b688bc9adbf43f16",
            "19edb339f35d53a3",
            "078ec43d8a2bee0a",
            "02e80747e7e9e1db",
            "1ff33935ceae0966",
            "742949ddfdec8503",
            "8629697e57c4f554",
            "0297fc593f0e9573",
            "21d43faea66aa43d",
            "962638b97d43ea78",
            "d91b57f1cfcd1400"
        ],
        "x": 74,
        "y": 1199,
        "w": 902,
        "h": 302
    },
    {
        "id": "0bc2f17c7cbc5b89",
        "type": "mqtt out",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "name": "rnet/status/#",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea7c963ee0f7393f",
        "x": 1110,
        "y": 80,
        "wires": []
    },
    {
        "id": "e288b92e64f85576",
        "type": "mqtt in",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "name": "",
        "topic": "rnet/control/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ea7c963ee0f7393f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "255d03ad6758f309"
            ]
        ]
    },
    {
        "id": "53a2c6dae814f148",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "name": "RNet-Out",
        "mode": "link",
        "links": [
            "5c6bee3ec97fcc42",
            "5cb6ff5693ef77b4",
            "65c781db4e6d04a5",
            "56279fc31f2f2291",
            "cc1916130dae7e73",
            "e3b72a4cfed44946",
            "e40ad92f5c3109f7",
            "a1633757f46c73c0",
            "94f968f5195021c1",
            "cb38877a34ee54bf",
            "497cf95dcd8adbdf",
            "0adfa62cded0718f",
            "6c1630fb1f9b288f",
            "a27d4e8ab44fd148",
            "23ddd693f6ce4f2b",
            "a107deeec7ba3e01",
            "0a23e0f4a0ef4108",
            "313783bb6c5869aa"
        ],
        "x": 1055,
        "y": 140,
        "wires": []
    },
    {
        "id": "097dd735258a2755",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "name": "RNet-In",
        "links": [
            "9e835574769fd79b",
            "000063684cf5e049",
            "0d53702f17971555",
            "45532739b33fe027",
            "783b949850d2dff4",
            "5227933e7b5c7555",
            "1a945951f39965ca",
            "5b7531d434ddc54f",
            "966ab0b80d6d07d8",
            "b688bc9adbf43f16",
            "7bfe03dc36df7306",
            "1b8bc145250ee7d0",
            "b69be1872a16feba",
            "384ed982038ae5f2",
            "db2623788559f739",
            "104589be06f85236",
            "80e734107617274a",
            "d95e1f91e90ffb4b"
        ],
        "x": 705,
        "y": 140,
        "wires": [
            [
                "255d03ad6758f309"
            ]
        ]
    },
    {
        "id": "5c703d6312e0c68a",
        "type": "rnet-status",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "rnet": "15781dc87668e1a5",
        "name": "",
        "x": 910,
        "y": 140,
        "wires": [
            [
                "53a2c6dae814f148",
                "0bc2f17c7cbc5b89"
            ]
        ]
    },
    {
        "id": "255d03ad6758f309",
        "type": "rnet-control",
        "z": "917ab87b497d3563",
        "g": "df9e74424c02de97",
        "rnet": "15781dc87668e1a5",
        "name": "",
        "x": 910,
        "y": 80,
        "wires": []
    },
    {
        "id": "97e3142d227bc684",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "43ff66300d5b9c4a",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "0cb3eb8ab067b372"
            ]
        ]
    },
    {
        "id": "33ec0af23bdd7860",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "43ff66300d5b9c4a",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "0cb3eb8ab067b372"
            ]
        ]
    },
    {
        "id": "000063684cf5e049",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 805,
        "y": 420,
        "wires": []
    },
    {
        "id": "5cb6ff5693ef77b4",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "name": "link in 1",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 105,
        "y": 440,
        "wires": [
            [
                "24928d20a9f14417"
            ]
        ]
    },
    {
        "id": "dc2ee369d4d483c8",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "43ff66300d5b9c4a",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "0cb3eb8ab067b372"
            ]
        ]
    },
    {
        "id": "e4479663dda63cd4",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "group": "43ff66300d5b9c4a",
        "order": 1,
        "width": 6,
        "height": "1",
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "24928d20a9f14417",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "controller": 0,
        "zone": 0,
        "name": "",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "e4479663dda63cd4"
            ],
            [
                "97e3142d227bc684"
            ],
            [
                "33ec0af23bdd7860"
            ],
            [
                "dc2ee369d4d483c8"
            ]
        ]
    },
    {
        "id": "0cb3eb8ab067b372",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "865961f16018682b",
        "controller": 0,
        "zone": 0,
        "name": "",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "000063684cf5e049"
            ]
        ]
    },
    {
        "id": "0631db09e4bd9782",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "a705f2ec0c495ee3",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "9d0ddb11fe2b24a0"
            ]
        ]
    },
    {
        "id": "404dcb8035ffbf15",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "a705f2ec0c495ee3",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "9d0ddb11fe2b24a0"
            ]
        ]
    },
    {
        "id": "384ed982038ae5f2",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 805,
        "y": 700,
        "wires": []
    },
    {
        "id": "6c1630fb1f9b288f",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "name": "link in 8",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 105,
        "y": 720,
        "wires": [
            [
                "58ca45ac2441e1b4"
            ]
        ]
    },
    {
        "id": "ab819a217b7e48c3",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "a705f2ec0c495ee3",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "9d0ddb11fe2b24a0"
            ]
        ]
    },
    {
        "id": "8e6f4663a30195ca",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "group": "a705f2ec0c495ee3",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "58ca45ac2441e1b4",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "controller": 0,
        "zone": "1",
        "name": "",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "8e6f4663a30195ca"
            ],
            [
                "0631db09e4bd9782"
            ],
            [
                "404dcb8035ffbf15"
            ],
            [
                "ab819a217b7e48c3"
            ]
        ]
    },
    {
        "id": "9d0ddb11fe2b24a0",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "74afdd66142b0fea",
        "controller": 0,
        "zone": "1",
        "name": "",
        "x": 670,
        "y": 700,
        "wires": [
            [
                "384ed982038ae5f2"
            ]
        ]
    },
    {
        "id": "a39b802a58802871",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "71ca89f468f6cde1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 920,
        "wires": [
            [
                "25d20ec56341db11"
            ]
        ]
    },
    {
        "id": "5cb2b0e587512294",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "71ca89f468f6cde1",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 980,
        "wires": [
            [
                "25d20ec56341db11"
            ]
        ]
    },
    {
        "id": "db2623788559f739",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 805,
        "y": 980,
        "wires": []
    },
    {
        "id": "a27d4e8ab44fd148",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "name": "link in 9",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 105,
        "y": 1000,
        "wires": [
            [
                "087ee5ce99aadbb4"
            ]
        ]
    },
    {
        "id": "d423459ce0772161",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "71ca89f468f6cde1",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "25d20ec56341db11"
            ]
        ]
    },
    {
        "id": "fb0911f564e30e1e",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "group": "71ca89f468f6cde1",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "087ee5ce99aadbb4",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "controller": 0,
        "zone": "2",
        "name": "",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "fb0911f564e30e1e"
            ],
            [
                "a39b802a58802871"
            ],
            [
                "5cb2b0e587512294"
            ],
            [
                "d423459ce0772161"
            ]
        ]
    },
    {
        "id": "25d20ec56341db11",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "a76405a57cc994bc",
        "controller": 0,
        "zone": "2",
        "name": "",
        "x": 670,
        "y": 980,
        "wires": [
            [
                "db2623788559f739"
            ]
        ]
    },
    {
        "id": "5ddd0fceeca823a1",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "175aaa03caaee545",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "0ea1fb6be904c0c0"
            ]
        ]
    },
    {
        "id": "ee6a28e93ba132ce",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "175aaa03caaee545",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "0ea1fb6be904c0c0"
            ]
        ]
    },
    {
        "id": "104589be06f85236",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 1605,
        "y": 420,
        "wires": []
    },
    {
        "id": "23ddd693f6ce4f2b",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "name": "link in 10",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 905,
        "y": 440,
        "wires": [
            [
                "e0e784be5e98c2e3"
            ]
        ]
    },
    {
        "id": "5fd12425a9474f6f",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "175aaa03caaee545",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 1260,
        "y": 480,
        "wires": [
            [
                "0ea1fb6be904c0c0"
            ]
        ]
    },
    {
        "id": "7c540bf7c81554c5",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "group": "175aaa03caaee545",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "e0e784be5e98c2e3",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "controller": 0,
        "zone": "3",
        "name": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "7c540bf7c81554c5"
            ],
            [
                "5ddd0fceeca823a1"
            ],
            [
                "ee6a28e93ba132ce"
            ],
            [
                "5fd12425a9474f6f"
            ]
        ]
    },
    {
        "id": "0ea1fb6be904c0c0",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "4539ed9e35d63af2",
        "controller": 0,
        "zone": "3",
        "name": "",
        "x": 1470,
        "y": 420,
        "wires": [
            [
                "104589be06f85236"
            ]
        ]
    },
    {
        "id": "3a14fc6c8d803037",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "d9f9c3699b4a8b24",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 640,
        "wires": [
            [
                "d70bd99b689b5ae4"
            ]
        ]
    },
    {
        "id": "4df4964105ee183c",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "d9f9c3699b4a8b24",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 1260,
        "y": 700,
        "wires": [
            [
                "d70bd99b689b5ae4"
            ]
        ]
    },
    {
        "id": "80e734107617274a",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 1605,
        "y": 700,
        "wires": []
    },
    {
        "id": "a107deeec7ba3e01",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "name": "link in 11",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 905,
        "y": 720,
        "wires": [
            [
                "e299b7308f17ebad"
            ]
        ]
    },
    {
        "id": "c0d14a0b753e198e",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "d9f9c3699b4a8b24",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 1260,
        "y": 760,
        "wires": [
            [
                "d70bd99b689b5ae4"
            ]
        ]
    },
    {
        "id": "77d1060f938da055",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "group": "d9f9c3699b4a8b24",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "e299b7308f17ebad",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "controller": 0,
        "zone": "4",
        "name": "",
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "77d1060f938da055"
            ],
            [
                "3a14fc6c8d803037"
            ],
            [
                "4df4964105ee183c"
            ],
            [
                "c0d14a0b753e198e"
            ]
        ]
    },
    {
        "id": "d70bd99b689b5ae4",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "f7cfa7ec084be3be",
        "controller": 0,
        "zone": "4",
        "name": "",
        "x": 1470,
        "y": 700,
        "wires": [
            [
                "80e734107617274a"
            ]
        ]
    },
    {
        "id": "8d161453497b30a5",
        "type": "ui_switch",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "a51e0d5988ca4c59",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "ZonePower",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 920,
        "wires": [
            [
                "85271a3a097eb82b"
            ]
        ]
    },
    {
        "id": "4ac803e90f7bab76",
        "type": "ui_slider",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "a51e0d5988ca4c59",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "ZoneVolume",
        "topicType": "str",
        "min": 0,
        "max": "0",
        "step": 1,
        "className": "",
        "x": 1260,
        "y": 980,
        "wires": [
            [
                "85271a3a097eb82b"
            ]
        ]
    },
    {
        "id": "d95e1f91e90ffb4b",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 1605,
        "y": 980,
        "wires": []
    },
    {
        "id": "0a23e0f4a0ef4108",
        "type": "link in",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "name": "link in 12",
        "links": [
            "53a2c6dae814f148"
        ],
        "x": 905,
        "y": 1000,
        "wires": [
            [
                "644605608294703f"
            ]
        ]
    },
    {
        "id": "af93e8b9a095e5ee",
        "type": "ui_dropdown",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "name": "",
        "label": "Source",
        "tooltip": "",
        "place": "Select Source",
        "group": "a51e0d5988ca4c59",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ZoneSource",
        "topicType": "str",
        "className": "",
        "x": 1260,
        "y": 1040,
        "wires": [
            [
                "85271a3a097eb82b"
            ]
        ]
    },
    {
        "id": "0479f25652a6c5e1",
        "type": "ui_text",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "group": "a51e0d5988ca4c59",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Zone Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1270,
        "y": 860,
        "wires": []
    },
    {
        "id": "644605608294703f",
        "type": "rnet-zone-listener",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "controller": 0,
        "zone": "5",
        "name": "",
        "x": 1030,
        "y": 1000,
        "wires": [
            [
                "0479f25652a6c5e1"
            ],
            [
                "8d161453497b30a5"
            ],
            [
                "4ac803e90f7bab76"
            ],
            [
                "af93e8b9a095e5ee"
            ]
        ]
    },
    {
        "id": "85271a3a097eb82b",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "d5f0bb8113d75ae5",
        "controller": 0,
        "zone": "5",
        "name": "",
        "x": 1470,
        "y": 980,
        "wires": [
            [
                "d95e1f91e90ffb4b"
            ]
        ]
    },
    {
        "id": "789355e3f5890369",
        "type": "comment",
        "z": "917ab87b497d3563",
        "name": "Comment: Zone Listener",
        "info": "To set up multiple zones, edit the RNet\nZone Listener to set the controller ID \nand Zone ID for each zone.\n\nThe Zone Listener node will listen for status\nupdates from the RNet-Pi server and produce\noutputs suitable for Dashboard controls.\n\nCurrently supported outputs:\n - Zone Name (payload: string)\n - Zone Power (payload: boolean)\n - Zone Volume (payload: number)\n - Zone Source (payload: number)\n ",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "54d5078998f6248b",
        "type": "comment",
        "z": "917ab87b497d3563",
        "name": "Comment: Zone Setter",
        "info": "Edit the RNet Zone Setter to set the\ncontroller and Zone ID for each zone.\n\nThe Zone Setter processes change messages\nfrom dashboard controls and produces output\nsuitable for feeding the RNet Control node.\n\nCurrently supported inputs:\n - Zone Power (topic: ZonePower, payload: boolean)\n - Zone Volume (topic: ZoneVolume, payload: number)\n - Zone Source (topic: ZoneSource, payload: number)",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "d0b473d08f54dc63",
        "type": "comment",
        "z": "917ab87b497d3563",
        "name": "Comment: Dashboard Controls",
        "info": "Edit each of the Dashboard controls to place\neach one into the proper Zone group.",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "76231b5865927406",
        "type": "comment",
        "z": "917ab87b497d3563",
        "name": "Comment: RNet-MQTT Bridge",
        "info": "This section sets up the RNet-Pi client and\nallows bridging of translated control and\nstatus messages to both MQTT and local link\nnodes that are used to connect to the\ndashboard.",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "8796c93219dd7f3e",
        "type": "comment",
        "z": "917ab87b497d3563",
        "name": "Comment: Global",
        "info": "This section shows an example of building\n\"global\" controls that are driven from\nthe dashboard.  These controls produce changes\non all of the zones.\n",
        "x": 160,
        "y": 1160,
        "wires": []
    },
    {
        "id": "93e7be47d8d6cd6f",
        "type": "ui_button",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "name": "",
        "group": "4c4dd0d896be95fb",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "ALL OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power_settings_new",
        "payload": "false",
        "payloadType": "bool",
        "topic": "ZonePower",
        "topicType": "str",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "078ec43d8a2bee0a"
            ]
        ]
    },
    {
        "id": "b688bc9adbf43f16",
        "type": "link out",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "097dd735258a2755"
        ],
        "x": 935,
        "y": 1360,
        "wires": []
    },
    {
        "id": "19edb339f35d53a3",
        "type": "ui_button",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "name": "",
        "group": "4c4dd0d896be95fb",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "ALL ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power_settings_new",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ZonePower",
        "topicType": "str",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "078ec43d8a2bee0a"
            ]
        ]
    },
    {
        "id": "078ec43d8a2bee0a",
        "type": "function",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "name": "combine",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "742949ddfdec8503",
                "8629697e57c4f554",
                "0297fc593f0e9573",
                "21d43faea66aa43d",
                "962638b97d43ea78",
                "d91b57f1cfcd1400"
            ]
        ]
    },
    {
        "id": "02e80747e7e9e1db",
        "type": "ui_button_state",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "group": "4c4dd0d896be95fb",
        "name": "All Source",
        "order": 3,
        "onClass": "",
        "offClass": "",
        "width": 8,
        "height": 1,
        "options": [
            {
                "label": "S0",
                "value": "0",
                "onColor": "#99ff99",
                "offColor": "#ff3333"
            },
            {
                "label": "S1",
                "value": "1",
                "onColor": "#99ff99",
                "offColor": "#ffa02a"
            },
            {
                "label": "S2",
                "value": "2",
                "onColor": "#99ff99",
                "offColor": "#d1d41a"
            },
            {
                "label": "S3",
                "value": "3",
                "onColor": "#99ff99",
                "offColor": "#93ff40"
            },
            {
                "label": "S4",
                "value": "4",
                "onColor": "#99ff99",
                "offColor": "#54ffeb"
            },
            {
                "label": "S5",
                "value": "5",
                "onColor": "#99ff99",
                "offColor": "#576cff"
            }
        ],
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "1ff33935ceae0966"
            ],
            []
        ]
    },
    {
        "id": "1ff33935ceae0966",
        "type": "change",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "name": "GlobalZoneSource",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ZoneSource",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "078ec43d8a2bee0a"
            ]
        ]
    },
    {
        "id": "742949ddfdec8503",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": 0,
        "name": "",
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "8629697e57c4f554",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": "1",
        "name": "",
        "x": 670,
        "y": 1300,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "0297fc593f0e9573",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": "2",
        "name": "",
        "x": 670,
        "y": 1340,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "21d43faea66aa43d",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": "3",
        "name": "",
        "x": 670,
        "y": 1380,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "962638b97d43ea78",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": "4",
        "name": "",
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "d91b57f1cfcd1400",
        "type": "rnet-zone-setter",
        "z": "917ab87b497d3563",
        "g": "dc3384bf6ef8de4f",
        "controller": 0,
        "zone": "5",
        "name": "",
        "x": 670,
        "y": 1460,
        "wires": [
            [
                "b688bc9adbf43f16"
            ]
        ]
    },
    {
        "id": "ea7c963ee0f7393f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "15781dc87668e1a5",
        "type": "rnet",
        "host": "localhost",
        "port": "3000",
        "ignore": "true",
        "debug": "errors"
    },
    {
        "id": "43ff66300d5b9c4a",
        "type": "ui_group",
        "name": "Zone 0",
        "tab": "1bcf7c9c6911dccf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "a705f2ec0c495ee3",
        "type": "ui_group",
        "name": "Zone 1",
        "tab": "1bcf7c9c6911dccf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "71ca89f468f6cde1",
        "type": "ui_group",
        "name": "Zone 2",
        "tab": "1bcf7c9c6911dccf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "175aaa03caaee545",
        "type": "ui_group",
        "name": "Zone 3",
        "tab": "1bcf7c9c6911dccf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d9f9c3699b4a8b24",
        "type": "ui_group",
        "name": "Zone 4",
        "tab": "1bcf7c9c6911dccf",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a51e0d5988ca4c59",
        "type": "ui_group",
        "name": "Zone 5",
        "tab": "1bcf7c9c6911dccf",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4c4dd0d896be95fb",
        "type": "ui_group",
        "name": "Global",
        "tab": "1bcf7c9c6911dccf",
        "order": 8,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bcf7c9c6911dccf",
        "type": "ui_tab",
        "name": "MultiZone Audio",
        "icon": "volume_up",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]